/*Universal Styles*/

body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 10px;
  }


/*Header*/

header {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%
  padding: 0px 10px;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 10;
}

header img {
  height: 50px;
  padding: 10px;
}

.navigation {
  justify-content: flex-end;
}


/*Main Content Container*/

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  align-items: center;
}


/*Our Mission*/

.mission {
  height: 700px;
  width: 1200px;
  background-image: url("../images/mission-background.jpg");
  background-position: cover;
}

.mission .text-content {
  width: 100%;
  background-color: black;
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
}

/*Menu*/

.menu {
  height: 1000px;
  width: 1000px;
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  }

.menu img {
  height: 200px;
  width: 300px;
}

.menu .text-content {
  text-align: center;
}

.menu .image-content {
  display: inline-block;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 10px;
}



/*Locations*/

.locations {
  background-image: url("../images/locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: flex;
  background-position: center;
  flex-wrap: wrap;
  display: inline-block;
  align-items: center;
  margin: 0 auto;
}

.addresses {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 15px 40px;
}

.downtown {
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
}

.east-bayside {
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
}

.oakdale {
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
}

.addresses p {
  padding: 12px;
}

/*Footer*/


.contact {
  height: 200px;
  width: 100%;
  align-items: center;
}

.copyright h5 {
  text-align: left;
  padding: 20px;
}
